.card {
  width: 15%;
  margin: 20px;
}

.done {
  background: rgba(167, 250, 171, 0.4)
}

.header-image {
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}